extends ../layout

block content
  h1 Articles

  div
    a.button(href='#articles' onclick='viewIndex()') All Articles
    |&nbsp;&nbsp;
    a.button(href='#createArticle' onclick='createArticle()') Create
  br
  br
  div#app

  script(src='/dist/js/article.app.min.js')
